<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.suhui.modules.region.mapper.RegionEntityMapper">

    <!-- 查询所有 -->
    <select id="getRegionList" resultType="org.suhui.modules.region.entity.RegionEntity">
		select * from region
	</select>

    <!-- 根据id查询 -->
    <select id="getRegionListById" resultType="org.suhui.modules.region.entity.RegionEntity">
		select * from region where parent_id = #{id}
	</select>
</mapper>