<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.suhui.modules.order.mapper.OrderAssurerAccountMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  order_assurer_account 
		WHERE
			 assurer_id = #{id} 		
	</delete>
	
	<select id="selectByMainId" resultType="org.suhui.modules.order.entity.OrderAssurerAccount">
		SELECT * 
		FROM  order_assurer_account
		WHERE
			 del_flag = 0 and assurer_id = #{mainId}
		<if test="accountType!=null and accountType != '' ">
			and account_type = #{accountType}
		</if>
	</select>
</mapper>
