<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.suhui.modules.suhui.suhui.mapper.BizFreezeOrderMapper">

    <select id="getFreezeOrderByTradeNo" resultType="map" parameterType="map">
        SELECT
        bfo.id ,
        bfo.`status` ,
        bfo.biz_freeze_no
        FROM
        biz_freeze_order bfo
        WHERE 1 = 1
        <if test="trade_no!=null and trade_no!=''">
            AND bfo.trade_no = #{trade_no}
        </if>

    </select>

</mapper>