<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.suhui.modules.suhui.suhui.mapper.BizRechargeOrderMapper">

    <!-- 通过用户userno usertype 获取账号信息 -->
    <select id="getRechargeOrderByRechargeNo" resultType="map" parameterType="map">
        SELECT
        bro.id ,
        bro.trade_no,
        bro.user_no,
        bro.user_type,
        bro.account_type,
        bro.recharge_type,
        bro.amount,
        bro.`status`,
        bro.device_type,
        bro.user_pay_account
        FROM
        biz_recharge_order bro
        WHERE 1 = 1
        <if test="biz_recharge_no!=null and biz_recharge_no!=''">
            AND bro.biz_recharge_no = #{biz_recharge_no}
        </if>

    </select>


    <select id="getRechargeOrderObjectByRechargeNo" resultType="org.suhui.modules.suhui.suhui.entity.BizRechargeOrder" parameterType="map">
        SELECT
        *
        FROM
        biz_recharge_order bro
        WHERE 1 = 1
        <if test="biz_recharge_no!=null and biz_recharge_no!=''">
            AND bro.biz_recharge_no = #{biz_recharge_no}
        </if>

    </select>

</mapper>