<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.suhui.modules.suhui.suhui.mapper.BizWithDrawOrderMapper">


    <select id="getWithDrawOrderByWithDrawNo" resultType="map" parameterType="map">
        SELECT
            bwo.id ,
            bwo.user_no,
            bwo.user_type,
            bwo.account_type,
            bwo.trade_no,
            bwo.biz_withdraw_no
        FROM
        biz_withdraw_order bwo
        WHERE 1 = 1
        <if test="biz_withdraw_no!=null and biz_withdraw_no!=''">
            AND bwo.biz_withdraw_no = #{biz_withdraw_no}
        </if>

    </select>


</mapper>