<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.suhui.modules.suhui.suhui.mapper.PayIdentityInfoMapper">


    <select id="getIdentityInfoByIdentityNo" resultType="map" parameterType="map">
            SELECT
                	*
            FROM
                pay_identity_info pii
            WHERE
                pii.identity_no = #{identity_no}
            AND pii.identity_type =  #{identity_type}
	</select>


    <select id="getIdentityInfoByUserNo" resultType="map" parameterType="map">
            SELECT
                	*
            FROM
                pay_identity_info pii
            WHERE
                pii.user_no = #{user_no}
            AND pii.user_type = #{user_type}
	</select>
</mapper>