<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.suhui.modules.suhui.suhui.mapper.PayUserLoginMapper">

    <!-- 根据用户名查询 -->
    <select id="getUserByPhone" resultType="org.suhui.modules.suhui.suhui.entity.PayUserLogin">
		select * from  pay_user_login  where  1=1
		<if test="phone!=null and phone != '' ">
            and login_name = #{phone}
        </if>
        <if test="areacode!=null and areacode != '' ">
            and areacode=#{areacode}
        </if>

	</select>

    <!-- 根据用户名及用户类型查询 -->
    <select id="getUserByPhoneAndUserType" resultType="org.suhui.modules.suhui.suhui.entity.PayUserLogin">
        select * from  pay_user_login  where  1=1
        <if test="phone!=null and phone != '' ">
            and login_name = #{phone}
        </if>
        <if test="areacode!=null and areacode != '' ">
            and areacode=#{areacode}
        </if>
        <if test="usertype!=null and usertype != '' ">
            and user_type=#{usertype}
        </if>
    </select>
</mapper>